.navbar {
  width: 100%;
  height: 64px;
  background-color: #f5f7fb;

  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: none;
}

.first {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}
.first img {
  cursor: pointer;
}
.navbar-search {
  margin-right: 380px;
  background-color: #eaf1fb;
  border-radius: 24px;
  border: none;
  width: 40%;
  height: 48px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.search-icon {
  margin-left: 15px;
}
.search-input {
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 27px;
  width: 80%;
  border: none;
  background-color: #eaf1fb;
}
.search-input:focus {
  outline: none;
}
.filter-icon {
  margin-left: 0px;
}
.other-icons {
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.user {
  font-size: large;
  padding: 5px 12px;
  border-radius: 90px;
  border: none;
  background-color: black;
  color: #eaf1fb;
}
