.sidebar {
  background-color: #f6f8fc;
  width: 16rem;
  height: 44.5rem;
  display: flex;
  flex-direction: column;
}
.compose-button {
  background-color: skyblue;

  border: none;
  font-size: 18px;
  /* padding: 5px 20px; */
}
.compose-div {
  padding: 5px 24px;
  border-radius: 8px;
  display: flex;
  width: 110px;
  height: 50px;
  align-items: center;
  background-color: skyblue;
  margin: 10px;
  cursor: pointer;
}
.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  padding-left: 0.8rem;
  display: flex;
}
.sidebar-list li {
  padding: 0.5rem;
  padding-left: 0.9rem;
  width: 80%;
  gap: 10px;
  display: flex;
  align-items: center;
}
.sidebar-list li:hover {
  box-shadow: 0px 1px 0px 0px #eaebef;
  cursor: pointer;
  background-color: #eaebef;
  border-radius: 0 20px 20px 0;
}
.sidebar-link {
  text-decoration: none;
  color: inherit;
}
.active {
  background-color: skyblue;
  border-radius: 0 20px 20px 0;
}
